replicaCount: 2

image:
  repository: 002369670798.dkr.ecr.ap-south-1.amazonaws.com/gitops-app
  tag: latest
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-secret

service:
  type: ClusterIP
  port: 80

