name: Terraform Infra

on:
  push:
    branches: [ main ]
    paths:
      - terraform/**
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    env:
      TF_IN_AUTOMATION: "true"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -input=false

      - name: Import ECR if already exists
        run: terraform import -input=false -var-file="terraform.tfvars" aws_ecr_repository.app_repo gitops-app || true

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve -var-file="terraform.tfvars"



